//- Main Content
div#login-page
    div(class='container')
        form(class="form-login", method="post" action="/login")
            h2(class="form-login-heading") sign in now
            div(class="login-wrap")
                input(type="text", class="form-control", placeholder="Username", name="userid", autofocus, required)
                br
                input(type="password", class="form-control", placeholder="Password", name="password", required)
                label(class=" remem checkbox")
                    input(type="checkbox", value="remember-me")
                    | Remember me
                    span(class="pull-right")
                        a(data-toggle="modal", href="javascript:;") Forgot Password?
                button(class="btn btn-theme btn-block", type="submit")
                    i(class="fa fa-lock") &nbsp; SIGN 
                if message
                    br    
                    div(class="alert alert-danger text-center")= message
                hr
                div(class="login-social-link centered")
                    p OR <br> you can sign in via your social network
                    button(class="btn btn-facebook", type="submit")
                        i(class="fa fa-facebook") 
                        | &nbsp; Facebook
                    | &nbsp;    
                    button(class="btn btn-twitter", type="submit") 
                        i(class="fa fa-twitter")
                        | &nbsp; Twitter
                div(class="registration")
                    | Don't have an account yet?
                    br
                    a(class="", href="register")  Create an account

//-   !-- js placed at the end of the document so the pages load faster --
script(src="../jquery/jquery.min.js")
script(src="../bootstrap/js/bootstrap.min.js")
//-   !--BACKSTRETCH--
//-   !-- You can use an image of whatever size. This script will stretch to fit in any screen size.--
script(type="text/javascript" src="../jquery.backstretch.min.js")
script.
    $.backstretch("../img/login-bg.jpg", {
    speed: 500
    });
                