//- Main Content
div#login-page
    div(class='container')
        form(class="form-login form-signup", method="post", action="/register/user")
            h2(class="form-login-heading") Register Now
            //- condition
            if message
                    br    
                    div(class="alert alert-success text-center")= message
            //- end condition         
            div(class="login-wrap")
                input(type="text", class="form-control", placeholder="Username", name="userid", autofocus, required)
                br
                input(type="text", class="form-control", placeholder="Full Name", name="fullname", autofocus, required)
                br    
                input(type="email", class="form-control", placeholder="Email", name="email", required)
                br
                input(type="password", class="form-control", placeholder="Password" name="password", required)
                br
                input(type="password", class="form-control", placeholder="Confirm Password" name="confirm-password", required)
                br
                button(class="btn btn-theme btn-block", type="submit")
                    i(class="fa fa-lock") &nbsp; REGISTER
                hr
                div(class="login-social-link centered")
                    p OR <br> you can sign in via your social network
                    button(class="btn btn-facebook", type="submit")
                        i(class="fa fa-facebook") 
                        | &nbsp; Facebook
                    | &nbsp;    
                    button(class="btn btn-twitter", type="submit") 
                        i(class="fa fa-twitter")
                        | &nbsp; Twitter
                div(class="registration")
                    | Already have an account?
                    br
                    a(class="", href="/")  Login
//-   !-- js placed at the end of the document so the pages load faster --
script(src="../jquery/jquery.min.js")
script(src="../bootstrap/js/bootstrap.min.js")
//-   !--BACKSTRETCH--
//-   !-- You can use an image of whatever size. This script will stretch to fit in any screen size.--
script(type="text/javascript" src="../jquery.backstretch.min.js")
script.
    $.backstretch("../img/login-bg.jpg", {
    speed: 500
    });
