include inc/header

.container
    .row
        div(class="col-lg-6 col-lg-offset-3 p404 centered")
            img(src="../img/404.png" alt="")
            h1 DON'T PANIC!!
            h3 The page you are looking for doesn't exist.
            h5(class="mt") Hey, maybe you will be interested in these pages:
            p 
                a(href="index.html") Index 
                | | 
                a(href="#") Sitemap
                | | 
                a(href="contact.html") Contact   

//-    js placed at the end of the document so the pages load faster 
script(src="../jquery/jquery.min.js")
script(src="../bootstrap/js/bootstrap.min.js")

