include inc/header
section#container
	header(class="header black-bg")
		div(class="sidebar-toggle-box")
			div(class="fa fa-bars tooltips", data-placement="right", data-original-title="Toggle Navigation")
				//- logo start
		a(href="/dashboard", class="logo")
			b Spinel
				span House
				//- logo end
		div(class="top-menu")
			ul(class="nav pull-right top-menu")
				li
					a(class="logout", href="/logout") Logout
	aside
		div(id="sidebar", class="nav-collapse ")

			//- sidebar menu start

			ul(class="sidebar-menu", id="nav-accordion")
				p(class="centered")
					a(href="profile.html")
					img(src="img/ui-sam.jpg", class="img-circle", width="80")
				h5(class="centered") Anil Baral
				li(class="mt")
					a(class="active", href="javascript:;")
						i(class="fa fa-dashboard")
						span Dashboard
				li(class="sub-menu")
					a(href="javascript:;")
						i(class="fa fa-pie-chart")
						span Sales
					ul(class="sub")
						li
							a(href="javascript:;") Sale Voucher
						li
							a(href="javascript:;") Manage Sale Vouchers
						li
							a(href="javascript:;") Sale Ledgers
				li(class="sub-menu")
					a(href="javascript:;")
						i(class="fa fa-shopping-cart")
						span Purchases
					ul(class="sub")
						li
							a(href="javascript:;") Create Purchase
						li
							a(href="javascript:;") Manage Purchases
						li
							a(href="javascript:;") Purchase Ledgers

				li(class="sub-menu")
					a(href="javascript:;")
						i(class="fa fa-archive")
						span Inventory
					ul(class="sub")
						li
							a(href="javascript:;") View Inventory Summary
						li
							a(href="javascript:;") Inventory Transfers
						li
							a(href="javascript:;") Manage Item Groups
						li
							a(href="javascript:;") Manage Items
						li
							a(href="javascript:;") Mange Inventory Locations
						li
							a(href="javascript:;") Gallery Database

				li(class="sub-menu")
					a(href="javascript:;")
						i(class="fa fa-line-chart")
						span Targets
					ul(class="sub")
						li
							a(href="javascript:;") Create Target
						li
							a(href="javascript:;") View Target History
						li
							a(href="javascript:;") Manage Targets
			//- sidebar menu end					

	section(id="main-content")
		section(class="wrapper")
			div(class="row")
				div(class="col-lg-9 main-chart")
					//- CUSTOM CHART START
					div(class="border-head")
						h3 USER VISITS
					div(class="custom-bar-chart")
						ul(class="y-axis")
							li
								span 10.000
							li
								span 8.000
							li
								span 6.000
							li
								span 4.000
							li
								span 2.000
							li
								span 0
						div(class="bar")
							div(class="title") JAN
							div(class="value tooltips", data-original-title="8.500", data-toggle="tooltip", data-placement="top") 85%
						div(class="bar")
							div(class="title") FEB
							div(class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top") 50%
						
						div(class="bar")
							div(class="title") MAR
							div(class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top") 60%
						
						div(class="bar")
							div(class="title") APR
							div(class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top") 45%
						
						div(class="bar")
							div(class="title") MAY
							div(class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top") 32%
						
						div(class="bar")
							div(class="title") JUN
							div(class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top") 62%
						
						div(class="bar")
							div(class="title") JUL
							div(class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top") 75%	
					//- custom chart end
					div(class="row mt")
						//- SERVER STATUS PANELS
						div(class="col-md-4 col-sm-4 mb")
							div(class="grey-panel pn donut-chart")
								div(class="grey-header")
									h5 SERVER LOAD
								canvas(id="serverstatus01", height="120", width="120")
								script.
									var doughnutData = [{
											value: 70,
											color: "#FF6B6B"
										},
										{
										value: 30,
										color: "#fdfdfd"
										}
										];
									var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
								div(class="row")
									div(class="col-sm-6 col-xs-6 goleft")
										p Usage
											br 
											| Increase:
						div(class="col-md-4 col-sm-4 mb")
							div(class="darkblue-panel pn")
								div(class="darkblue-header")
									h5 DROPBOX STATICS
								canvas(id="serverstatus02", height="120", width="120")
								script.
									var doughnutData = [{
											value: 60,
											color: "#1c9ca7"
										},
										{
											value: 40,
											color: "#f68275"
										}
									];
									var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
								p April 17, 2014
								footer
									div(class="pull-left")
										h5
											i(class="fa fa-hdd-o") 
											| 17 GB
									
									div(class="pull-right")
										h5 60% Used
							//- /darkblue panel
						
						//- /col-md-4
						div(class="col-md-4 col-sm-4 mb")
							//- REVENUE PANEL
							div(class="green-panel pn")
								div(class="green-header")
									h5 REVENUE
								
								div(class="chart mt")
									div(class="sparkline", data-type="line", data-resize="true", data-height="75", data-width="90%", data-line-width="1", data-line-color="#fff", data-spot-color="#fff", data-fill-color="", data-highlight-line-color="#fff", data-spot-radius="4", data-data="[200,135,667,333,526,996,564,123,890,464,655]")
								
								p(class="mt")
									b $ 17,980
										br 
										| Month Income						
						//- col-md-4

include inc/footer
include inc/scripts